.chess {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 100px auto;
}


.black {
    background: #795548;
    width: 100px;
    height: 100px;
}

.white {
    background: #d1ddfd;
    width: 100px;
    height: 100px;
}